{#
layout: default
title: Getting started
slug: getting-started
lead: "An overview of Bootstrap, how to download and use, basic templates and examples, and more."
#}

{% include 'BootstrapBundle:includes:getting-started/download.html.twig' %}
{% include 'BootstrapBundle:includes:getting-started/whats-included.html.twig' %}
{% include 'BootstrapBundle:includes:getting-started/grunt.html.twig' %}
{% include 'BootstrapBundle:includes:getting-started/template.html.twig' %}
{% include 'BootstrapBundle:includes:getting-started/examples.html.twig' %}
{% include 'BootstrapBundle:includes:getting-started/tools.html.twig' %}
{% include 'BootstrapBundle:includes:getting-started/community.html.twig' %}
{% include 'BootstrapBundle:includes:getting-started/disabling-responsiveness.html.twig' %}

<!-- Cross link to new migration page -->
<div class="bs-callout bs-callout-info" id="migration">
    <h4>Migrating from v2.x to v3.x</h4>
    <p>Looking to migrate from an older version of Bootstrap to v3.x? Check out <a href="../migration">our migration guide</a>.</p>
</div>

{% include 'BootstrapBundle:includes:getting-started/browser-device-support.html.twig' %}
{% include 'BootstrapBundle:includes:getting-started/third-party-support.html.twig' %}
{% include 'BootstrapBundle:includes:getting-started/accessibility.html.twig' %}
{% include 'BootstrapBundle:includes:getting-started/license.html.twig' %}
{% include 'BootstrapBundle:includes:getting-started/translations.html.twig' %}