<div class="bs-docs-social">
    <ul class="bs-docs-social-buttons">
        <li>
            <iframe class="github-btn" src="https://mdo.github.io/github-buttons/github-btn.html?user={{ site.github.user }}&amp;repo={{ site.github.repo }}&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
        </li>
        <li>
            <iframe class="github-btn" src="https://mdo.github.io/github-buttons/github-btn.html?user={{ site.github.user }}&amp;repo={{ site.github.repo }}&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
        </li>
        <li class="follow-btn">
            <a href="https://twitter.com/HassanAmouhzi" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @HassanAmouhzi</a>
        </li>
        <li class="tweet-btn">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://anezi.net/bbs/" data-count="horizontal" data-via="HassanAmouhzi" data-related="HassanAmouhzi:Creator of BBS">Tweet</a>
        </li>
    </ul>
</div>
